@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lobster&display=swap');

header, footer{
    background-color:#20A39E;
    color: #2F4858;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    font-family:"Lobster"
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    body {
        background-color:white;
        font-family: "Heebo", Helvetica, sans-serif;
        font-size: 16px;
        margin: 10px;
        padding: 6px;
        color: #2F4858;
    }
    
    
    nav ul {
        display: flex;
        list-style-type: none;
        overflow: hidden;
    }
    nav ul li a {
        display: block;
        color: #2F4858;
        text-align: center;
        padding: 10px;
        text-decoration: none;
       
        
    }
    
    h2, h3, p, span{
        text-align: center;
        margin: 16px;
    }
    